body { 
	font-family: fantasy;
	color: deeppink;
	background-color: black;}

h1 {
	color: green;
	background-color: deeppink;
	font-family: fantasy;
	font-size: 250%;}
.centered-text {
	text-align: center;}
div.box {
	height: 300px;
	width: 300px;
	background-color: magenta;}
p {
	height: 75%;
	width: 75%;
	background-color: black;}