body { 
	font-family: fantasy;
	color: white;
	background-image: linear-gradient(to bottom, #ff0000, #0000ff) !important;
	background-attachment: fixed;
	background-size: cover;
}

h1 {
	font-size: 250%;}
.centered-text {
	text-align: center;}
div.box {
  position: absolute;
  height: 10000px;
  width: 800px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  text-align: center;
}

ul.one {
	list-style-image: url("IMG VID/colby.jpg");}

td {
	background-color: blue;
	padding: 15px;
	border: 2px solid black;}
table.one {
	border-sapcing: 5px 15px;}
table.two {
	border-collapse: collapse;}
p.example {
	position: absolute;
	top: 0px;
	left: 500px;
	width: 250px;}
p.example2 {
	position: absolute;
	top: 400px;
	left: 800px;
	width: 400px;
}

 