body { 
	font-family: fantasy;
	color: white;
	background-image: linear-gradient(to bottom, #ff0000, #0000ff) !important}

h1 {
	color: white;
	font-family: fantasy;
	font-size: 250%;}
.centered-text {
	text-align: center;}
div.box {
	height: 300px;
	width: 300px;
	text-align: center;
	background-color: black}
p {
	height: 75%;
	width: 75%;}
ul {
	list-style-image: url("IMG VID/colby.jpg");}
li {
	margin: 10px 0px 0px 0px}
td {
	background-color: blue;
	padding: 15px;
	border: 2px solid black;}
table.one {
	border-sapcing: 5px 15px;}
table.two {
	border-collapse: collapse;}
.example {
	position: left;
	top: 10px;
	left: 100px;}